body{
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 10px;
}

.shutdown-btn-container {
  display: flex;
  justify-content: center;
}

.cmd {
  justify-content: center;
  background-color: aqua;
}

form{
  margin: 100px;
  justify-content: center
}

.shutdown-btn {
  border-radius: 10px;
  background-color: #fbfcfb;
  color: rgb(245, 6, 6);
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}