body{
  background-color: black;
  margin: 10px;
}

.shutdown-btn-container {
  display: flex;
  justify-content: center;
}

form{
}

.shutdown-btn {
  border-radius: 10px;
  background-color: #fbfcfb;
  color: rgb(245, 6, 6);
  padding: 50px 100px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px;
}